body{
	border:1px solid blue;
	font-size: 16px; /*1em–––es la M que es el espacio mas grande de tamaño de letras*/
	margin: 0 auto;
	max-width: 1024px;


}

header{
	background-color: #B3D8EB;
}
#logo /*es un id*/
{
	margin-top: -160px;

}
header nav{
	background: #0E6CB0;
	padding:1px 0px 1px 0px;
	width: 99%;
	margin:0 auto;
	border-radius:5px;

}
header nav ul li{
	color:white;
	display:inline-block;
	margin-right: 20px;

}
form{
	float:right;
	margin-top: -30px;
	margin-right: 10px;
}
form input[type="button"]{
	background:green;
	color:white;
}
form input{ /*todos los inputs*/
	border-radius:5px;
}
#Seccion01 article{
	text-align: center;
}
#Seccion01 article img{
	border:5px solid rgba(150,150,150,0.5);
	margin-top: 5px;
	width:98%;
}
