body{
	font-size: 16px; 
	margin: 0 auto; 
	max-width: 1024px; 
}
.circulos{
	float: right;
}

nav ul{
	background: linear-gradient(#FD9155,#FDA87D,#F6661D,#DD4812);
	padding:10px 0px 10px 0px;
	width: 99%;
	margin:0 auto;
	border-radius:5px;
}

nav ul li{
	
	color:white;
	display:inline-block;
	margin-right: 30px;
	margin-left: 20px;
	padding-left: -20px;
}
#texto{
	vertical-align: middle;
}


#tabla{
	margin-top: -300px;
}

#boton{
	border: 1px solid black;
	border-radius: 150px;
	color: white;
	padding-left: 2.2px;
	width: 20px;
}

#seccion1article2{
	float: right;
}

.titulo{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8em;
	color: gray;
	font-weight: bold;
}

#seccion2{
	display: inline-block;
	vertical-align: center;
}

.caja{
	background: linear-gradient(#FD9155,#FDA87D,#F6661D,#DD4812);
	margin-right: 30px;
	margin-left: 10px;
	border-radius: 150px;
	color: white;
	padding:10px 140px 10px 140px;
	width: 20px;

}

